<!-- Load an icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Start Navbar -->
  <header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4 ">
    <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger  pr2  ">☰
    </div>
  </header>


<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3" layout="nodisplay">
  <div class="flex justify-start items-center ampstart-sidebar-header">
    <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
  </div>
  <nav class="ampstart-sidebar-nav ampstart-nav">
    <ul class="list-reset m0 p0 ampstart-label">
      <li class="ampstart-nav-item ampstart-nav-dropdown relative current">
        <li class="ampstart-faq-item"><a href="#" class="text-decoration-none"> </a></li>
      </li>
      {% for entry in site.data.navigation %}
        {% if entry.url == current_page %}
          {% assign current = 'current' %}
        {% else %}
          {% assign current = null %}
        {% endif %}
        <li class="ampstart-nav-item ampstart-nav-dropdown relative {{ current }}">
          <li class="ampstart-faq-item"><a href="{{ site.url }}{{ site.baseurl }}{{ entry.url }}" class="sidemenu__link">{{ entry.title }}</a></li>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <hr>

  <ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
    <li>
      <a href="{{site.github}}"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="http://www.linkedin.com/in/alp-oran"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="mailto: alporan@windowslive.com"><i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i></a>
    </li>
  </ul>

</amp-sidebar>
