---
layout: default
---
  <main id="content" role="main" class="">
    <article class="recipe-article">
      <header>
        <h1 class="mb1 px3">{{page.title}}</h1>
        <address class="ampstart-byline clearfix mb4 px3 h5">
          <time class="ampstart-byline-pubdate block bold my1" datetime="{{ page.date | date:'%e %B %Y' }}">{{ page.date | date:'%e %B %Y' }}</time>
        </address>
      </header>
      <div class="px3 mb4">{{ content }}</div>
      <hr>
      {% include footer.html %}
</main>
